.footer-admin{
    position: relative;
    bottom: 0; 
    left: 0;
    right: 0;
    width: 83.4%;
    color: white;
    
    background-color:#363030;
        height: 50px;
        h5{
            font-size: 15px;
        }
}